[2013-08-16 06:21] rchacker opened #1 "input boundaries."
I managed to enter all sorts of invalid numbers in the non radio buttons and it let me flash without warning.

![screen shot 2013-08-16 at 1 14 35 am](https://f.cloud.github.com/assets/4965632/973730/aba4ee22-063b-11e3-9b46-2262bdbac34f.jpg)

[2013-08-16 16:45] #1 closed, assigned to cTn-dev

[2013-12-05 22:24] cTn-dev opened #3 "Implement local firmware flashing"
It was requested a while back, thought i should mark it down for future.

Basic implementation of firmware flasher should allow flashing from embedded firmware and local hex file (if user choose to do so)

[2013-12-05 22:27] cTn-dev opened #4 "Implement debug variables tracking RX/TX data in firmware flasher"
Overall there should be more debug indices in firmware flashing protocols as this is the most "sensitive" stuff and needs to be done "right" otherwise very bad things will happen.

[2013-12-06 18:04] #4 closed, assigned to nobody

[2013-12-06 21:55] #3 closed, assigned to nobody

[2013-12-21 05:33] russkel opened #6 "Beacon does not allow Australian UHF frequencies"
Hi,

I am trying to use an AU UHF channel for a beacon, but the configurator isn't letting it pass the sanity checking.

http://www.uhfcb.com.au/80-Channel-UHF-Information.php

[2013-12-21 05:50] #6 closed, assigned to nobody

[2013-12-25 13:06] cTn-dev opened #8 "possible RX spectrum analyzer app merge into configurator"
Lately i been wondering if i could manage to auto-detect directly connected RX module in spectrum analyzer mode and utilize this "no-psp" communication for spectrum analyzer "only active interactive tab" without breaking any of the current psp code behavior and stability in the process, if i decide to do this, work for this change will be probably kept in separate branch, don't hold your breath on

[2013-12-31 10:30] #8 closed, assigned to cTn-dev

[2014-02-17 18:11] voyager4 opened #9 "No full screen"
The right side of the configurator is not on my screen. Can not change it even not when I change resolution.

[2014-02-17 19:22] #9 closed, assigned to nobody

[2014-02-20 19:18] Crash1 opened #10 "Flashing Firmware using auto update throws "Uncaught Error""
Using windows XP, Chrome 33.0.1750.117, Configurator .31 and latest firmware. Laptop is dual core 2.0Ghz.

Clicking "Flash Firmware" causes this error:
"Uncaught Error: Invocation of form serial.connect(undefined, object, function) doesn't match definition serial.connect(string path, optional object options, function callback)"

![screenshot 776](https://f.cloud.github.com/assets/1397958/2222250/e

[2014-02-20 19:23] #10 closed, assigned to nobody

[2014-02-20 19:33] KipK opened #11 "can't connect to tx config after 3.5.4 update"
Seems since the 3.5.4 & chrome update, I can't connect anymore to the Hawkeye JR Tx module from configurator.
Firmware flasher works without flaws. Only connection to config mode is faulty.

onnecting to: COM43 serial_backend.js:11
SERIAL: Connection opened with ID: 53, Baud: 115200 serial.js:22
Trying to connect via quick join serial_backend.js:156
Quick join expired serial_backend.js:176
Sent DT

[2014-02-27 21:20] Crash1 opened #12 "Non Critical: Raising operating frequency temporarily above max frequency causes undesireable behavior"
To duplicate: start from defaults, set operating frequency to 438000, set max frequency to 439000.  Hop channels can no longer be manually edited until channels are randomized.

[2014-03-07 17:53] #12 closed, assigned to cTn-dev

[2014-03-07 18:20] #11 closed, assigned to cTn-dev

[2014-04-27 02:07] waketime opened #15 "Backup doesn't support manually entered hop channels"
Among other options, the Configurator program allows me to manually select exactly which frequencies I want to use for my hop channels.  But when I select Backup All Profiles, it does not backup the frequencies I manually entered on each profile.    When I restore the file, the Configurator randomly picks channels between the base and max frequency, since it did not save my manually entered freque

[2014-04-29 22:46] dmurray14 opened #16 "Can't connect to RX module"
Cannot conect to RX module, configurator immediately reports "Failed response from the RX module" and there is no countdown.

18:45:39 -- Trying to establish connection with the RX module
18:45:40 -- Failed response from the RX module
18:45:45 -- Trying to establish connection with the RX module
18:45:45 -- Failed response from the RX module
18:45:46 -- Trying to establish connection with the RX m

[2014-05-02 09:14] #16 closed, assigned to nobody

[2014-05-03 18:24] #15 closed, assigned to nobody

[2014-08-27 03:45] tabash opened #17 "Can't connect configurator to RX and indicator light issue"
Hi,

After flashing a HK OrangeRX TX and RX with firmware 3.7.0 using the new configurator (0.46) and rebinding the TX to the RX I encountered 2 issues:
1) After binding, the blue indicator light on the TX and the 2nd red light on the TX are blinking rapidly (in the past they used to be solid). The signal is passing through and the TX is moving servos at the RX but the light is blinking and not so

[2015-01-13 23:45] drak1nguard opened #19 "Cant connect my new HK RX to configurator"
Hello to all....can someone help me.....
I bought from HB a new ORX 433 100mw and i am trying to flash it with new firmware!The usb drivers installed good as my pc tells me!Also i connect it as they told me in the support but when i hit the connect button on the configurator this message always pop out:
15:35:48 -- Serial port successfully opened with ID: 3
15:35:58 -- Start message not received w

[2015-01-14 08:27] cTn-dev commented on #19
I would start by checking your VCC/GND/RX/TX/DTR connections, if they are all fine and wires aren't loose, try swapping the RX and TX wires, if that also doesn't help, its very very likely that the modules doesn't have bootloader installed (we seen failures like that on many HK openlrs modules), and in this case you will need an AVR ISP programmer to flash the bootloader in, USBasp should get the

[2015-01-14 11:24] drak1nguard commented on #19
I know that i connect it right because of this file http://www.hobbyking.com/hobbyking/store/uploads/648805988X339719X19.pdf
i did everything right i thing!TO understand the picture better i have an 9xrPRO with http://www.hobbyking.com/hobbyking/store/__27095__OrangeRx_Open_LRS_433MHz_TX_Module_JR_Turnigy_compatible_.html and i try to connect it at http://www.hobbyking.com/hobbyking/store/__27096_

[2015-01-14 11:30] cTn-dev commented on #19
That tool you linked -> http://www.hobbyking.com/hobbyking/store/__38395__OrangeRX_USB_Firmware_Update_Kit_for_JR_Futaba_Style_Transmitter_Module.html

isn't compatible with openLRS gear, in this case you should get an cp2102 serial adapter of ebay, they are usually fairly cheap

[2015-01-14 11:35] drak1nguard commented on #19
can u link one to me that is compatible with my module?

Date: Wed, 14 Jan 2015 03:30:54 -0800
From: notifications@github.com
To: openLRSng-configurator@noreply.github.com
CC: drak1nguard@hotmail.com
Subject: Re: [openLRSng-configurator] Cant connect my new HK RX to configurator (#19)

That tool you linked -> http://www.hobbyking.com/hobbyking/store/__38395__OrangeRX_USB_Firmware_Update_Kit_for_JR

[2015-01-14 11:37] cTn-dev commented on #19
For example, this one http://www.ebay.com/itm/6Pin-CP2102-Module-USB-2-0-To-TTL-On-STC-To-Arduino-Board-Promini-Download-/281418973953?pt=UK_BOI_Electrical_Components_Supplies_ET&hash=item4185e0c301

[2015-01-14 11:39] drak1nguard commented on #19
can i use this? http://www.ebay.com/itm/181215336077 for my module?

[2015-01-14 11:40] cTn-dev commented on #19
that is an ISP programmer, you can use it flash both bootloader and firmware in, but you won't be able to use it with the configurator app (you will have to use either arduino or avrdude)

[2015-01-14 11:43] drak1nguard commented on #19
can i use the http://www.ebay.com/itm/6Pin-CP2102-Module-USB-2-0-To-TTL-On-STC-To-Arduino-Board-Promini-Download-/281418973953?pt=UK_BOI_Electrical_Components_Supplies_ET&hash=item4185e0c301 u linked to me for the
http://www.hobbyking.com/hobbyking/store/__27096__OrangeRx_Open_LRS_433MHz_9Ch_Receiver.html also to flash it with configurator?

[2015-01-14 11:44] cTn-dev commented on #19
If the modules have bootloader, yes, if they doesn't you will need both the tool i linked and the ISP programmer

[2015-01-14 11:49] drak1nguard commented on #19
so if i have http://www.ebay.com/itm/6Pin-CP2102-Module-USB-2-0-To-TTL-On-STC-To-Arduino-Board-Promini-Download-/281418973953?pt=UK_BOI_Electrical_Components_Supplies_ET&hash=item4185e0c301
AND
http://www.ebay.com/itm/181215336077
i have everything i need to make it work right?

[2015-01-14 11:50] cTn-dev commented on #19
yup, just make sure to always use them in "3v3" mode (the ICSP have a little jumper on it that you can use to switch it), otherwise you will burn the rfm module on the transmitter/receiver

[2015-01-14 11:53] drak1nguard commented on #19
i know about the 3.3 volt! do u thing the update kit i used have burned the module always in 3,3 v)....because the servise in HB told me to use it....u are sure it isnt compatible right?

[2015-01-14 11:54] cTn-dev commented on #19
i am 100% sure that stuff isn't compatible, you are actually a second or 3rd person asking about that kit this month.

About the fact it being burned, i can't really answer that i am afraid :/

[2015-01-14 11:56] drak1nguard commented on #19
if it is i will ask for a refund!i have the chat with their "specialist" !!!!Can i leave open the ticket so i will ask u for connections when i take the isp?

[2015-01-14 11:57] cTn-dev commented on #19
Sure, however i would start with the cp2102, if you end up being unable to flash through configurator = there is no bootloader, only after that i would plugin the ISP

[2015-01-14 12:01] drak1nguard commented on #19
i have bought both and im w8ting to deliver!they are cheap!!! :P ty for your time

[2015-01-14 12:09] cTn-dev commented on #19
Anytime, good luck with the flashing.

[2015-01-15 05:37] kh4 commented on #19
The OrangeRX flasher is seemingly a PL2303 based USB to serial adapter with some additional circuit, I guess it could be modified to be usable, on the other though pl2303 is like the worst USB2serial chip I have seen ;)

[2015-01-16 16:25] drak1nguard commented on #19
Didnt understand nothing....!!!dont forget im not a programmer and very new to all this!!!!
cTn-dev they said to me the update kit is compatible.....!!!!!Can u link to me a way other except the chtome to flash the module and a link to the latest update and i will try to use it!!!Plzzzzz....

[2015-01-21 09:39] frog32 opened #20 "Read out RSSI using the configurator"
For the purpose of tuning antennas it would be very handy to be able to display RSSI values for both receiver and transmitter in the gui.

[2015-01-29 15:22] flegmatoid commented on #17
ok, I've had similar issue - after flashing both TX & RX with OpenLRS firmware I was able to connect to receiver easily, configure it and save to EEPROM.
After I've connected APM's telemetry port to RX UART - something broke. I was not able to connect to the receiver anymore.
The solution with powering the RX while in RX Tab worked!!!

[2015-01-29 15:57] kh4 commented on #17
The correct sequence to connect to RX is to powercycle it while the tab is open, since the RX will only listen for config requests for some 0.5 seconds.

Immediately after reflashing with eeprom erase there is no such time limit so you can connect otherwise too.

[2015-02-04 06:00] secretspy711 opened #21 "Info box reports incorrect receiver type"
I flashed a Hawkeye 9-channel receiver (hardware type 3), but after connecting to it through the transmitter, the info box in the lower left part of the "RX Module" tab reports "Board: Flytron / OrangeRX 8 channel."  I'm not sure such a board actually exists, maybe it's just a simple typo and the 8 should be 9?

[2015-02-05 10:42] kh4 commented on #21
Yeah, well the OrangeRX/Flytron ones are marketed as 8ch even though they can do 9 (or actually 13 as absolute max) just like the Hawkeye one.

The board type 3 is quite overloaded since it is used for OrangeRX, Flytron and Hawkeye boards.Which from software point of view are identical.

[2015-03-08 23:23] stormjohn opened #22 "Flytron M3 issue"
Hi all.
Has anyone had a similar issue with a Flytron M3 (1W) Tx as I. Having compiled the latest (March 2015) 3.8 firmware onto the Tx (I also tried V3.6.4) and set it up for UK legal 458MHz band with 6 hops. However even with a Diamond SRH771 antenna on the Tx I lose total communication with the Rx (V2 compiled the same) almost as soon as they link (intermittent "Blue" LED then solid "Red"). I h

[2015-03-26 19:24] n8twj opened #23 "Chip not supported, sorry :-("
I have been trying to flash OrangeRX RX and the 1 Watt JR TX module...

I'm using a std FTDI232 dongle, jumpered to 3.3v.  I have the FDTI drivers installed (OS X 10.8), everything seems to be wired correctly, but whenever I attempt to load the firmware I receive:

15:18:55 -- Serial port successfully opened with ID: 30
15:18:56 -- Chip not supported, sorry :-(
15:18:56 -- Serial port successfully

[2015-03-28 08:10] kh4 commented on #23
Can you check what reads on the top of the biggest IC (CPU). It should read something like ATMEGA328P..

[2015-03-28 12:28] #21 closed

[2015-03-29 10:51] n8twj commented on #23
It is the correct chip.

Two Rx and one TX unit experience same behavior.   Ordered them all at same
time.

I almost suspected my FTDI might be foobard...but I was able to configure a
Bluetooth board so ?!

Serial monitor at any baud just spews garbage

On Saturday, March 28, 2015, Kari Hautio <notifications@github.com> wrote:

[2015-03-29 13:42] kh4 commented on #23
It may be that ORangeRX failed to load proper bootloader on them. You need USBASP to load that.

You can use files from http://openlrsng.org/releases/v3.8.2/433/

TX-2-bl.hex for OrangeRX TX unit
RX-3-bl.hex for OrangeRX RX

Notably you should also set fuses to Low: FF High: DE Ext: 05 with USBASP while at that.

[2015-04-05 23:00] n8twj commented on #23
I have attempted to write the hex using avrdude and hexUploader (which
seems to just be a mac gui for avrdude), but the verification always comes
back as failed.

When I attempt to connect in the Configurator I get:

18:51:05 -- Serial port successfully opened with ID: 8

18:51:08 -- Module - Ope~LRSng TX starti~g 3.8 o~ HW 2

18:51:15 -- Start message not received within 10 seconds, disconnecting

[2015-04-09 23:49] imerso opened #24 "Buggy as hell"
Never mind...

[2015-04-10 00:17] #24 closed

[2015-04-10 05:15] cTn-dev commented on #24
Interesting

[2015-06-18 07:51] doceave opened #25 "Compatibility with Gitsly branch of OpenLRSng"
Dearest contributors.

OpenLRSng is by far the most amazing addition to my vehicle. Recently I added Mavlink telemetry using the Gitsly branch of OpenLRSng.

My problem is that Configurator does not seem to be able to connect to the OrangeRx OpenLRS Tx  now that Gitsly firmware is loaded: Gitsly presents it's  version number followed by an error generated by Configurator - "No welcome message rece

[2015-06-18 08:57] cTn-dev commented on #25
Hi

1. Since gitsly branch is a custom fork of the project i really don't know if its compatible, but from what you are saying it isn't. Configurator is always in sync with the latest officially firmware release.
2. Someone else will have to answer this one, @kh4 ?

[2015-06-18 09:45] doceave commented on #25
Thanks so much for the reply cTn-dev... I'm certain Kha will have an answer to #2 :)

[2015-07-13 14:25] njozsef opened #26 "mistake values on openLRSng-configurator/js/data_storage.js ???"
Hi developers.

i think maybe improper value on initializeFrequencyLimits() function
868 and 915 type modules

frequencyLimits.minBeacon = 413000000;

best regards
Jozsef

[2015-07-14 08:18] njozsef opened #27 "please feature: full 868 and 915 support (online fw upgrade)"
Hi developers.

I working modified 868Mhz orangeRX JR 1W modules and modded 868Mhz receivers.
My problem: configurator support only 433Mhz (fw upgrade). Please compile and upload all versions and/or
please allow a choice for example dop-down box (433/868/915).
This feature very facilitate the upgrade.

if this solution is hard work, please upload all firmware the firmware folder

Thank you for pro

[2015-07-17 17:06] kh4 commented on #27
All firmwares are available here

http://openlrsng.org/releases/

[2015-07-17 18:07] kh4 commented on #26
Well, it is partly intentional; someone may want to use beacon on 433 band even though RC is higher, naturally this may not be optimal nor very healthy for the RFM but in case plane is in middle of woods...

[2015-08-29 02:05] Transfixus commented on #19
So I seem to be having the same issue as drak1nguard. I recently bought two additional 100mw Hobbyking openlrs 433Mhz receiver modules. Couldn't flash or connect using FTDI or CP2102. Bought a USBasp programmer and figured out how to burn the bootloader with openLRSng data loaded into Arduino. Then tried again to connect to configurator, no luck...  Uploaded openlrsng data using USBasp up-loader i

[2016-09-30 14:54] jsystem opened #31 "Having v0.57 but it says it's old"
Hi,

"16:50:24 -- Running - OS: Windows, Chrome: 53.0.2785.143, Configurator: 0.57
16:50:24 -- You're using an old version of openLRSng - Configurator. Please update so you can benefit from recently added features and bugfixes."
As far a I know 0.57 is the latest so seems to be a low prio bug or?

thanks,
Kornel

[2016-11-14 03:42] gweep commented on #31
Me too!

[2016-11-14 03:47] gweep opened #32 "Allow use of directly connected receiver for spectrum analyzer function."
For some reason for which I don't understand (but can live with) all access to a receiver for programming purposes needs to be through a bound transmitter.  Again, I don't understand it but it is not a problem.

However, I see no reason not to permit a serially connected receiver to perform the spectrum analyzer function.   This would be convenient as the RX serial port connections are easier to g

[2017-01-06 00:21] Nienscecco commented on #19
Hello guys.  I know this conversation is 2 years-old but I face this exact same situation with the exact same products : 9XR pro, and both TX and RX modules linked above by drak1nguard.

What was your solution? Were you able to solve the probelm?

Does anyone know what is the needed start msg the configurator needs?  I would be able to program my FTDI chip to send the message to itself using an au

[2017-01-07 02:01] Nienscecco commented on #19
Hello everyone.  I found my solution.  Simple mistake : I was not connecting DTR because I had seen in the original instructions I read that it wasn't needed.  So the short story is : make sure DTR is connected and make sure RX/TX aren't swaped if you get this error message.

For those interested in a long explanation :

When you receive your module out of the box, it is empty.  No default firmwar

[2017-06-26 14:30] yu1s opened #33 "TX problem"
https://www.youtube.com/watch?v=CNVOsXIO5fk&t=6s

[2017-08-27 22:10] Zethyl opened #34 "configurator needs to bump to 0.58 for 3.8.9 firmware"
title says it all. 3.8.9 has been released and we have no configurator for it.

please fix

[2017-12-03 11:57] mikeller opened #35 "Transition to standalone application."
I have a way of doing it (using NW.js, building on code that's been tested in the Betaflight configurator).

But I need maintainer access to be able to debug things like automatic checking for new releases through the GitHub API. @kh4, @DTFUHF: Can I please get maintainer access for this repository?

[2017-12-03 13:02] cTn-dev commented on #35
I will step in and take care of standalone builds when it becomes time critical, the app store is still showing all the packaged apps and i haven't received any info from the dev support regarding exact date when the support will be dropped.

[2017-12-03 19:05] mikeller commented on #35
@cTn-dev: The notifications went out in 2016, and then again at the beginning of this year. The official post is here: https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html

So the clock is ticking, with potentially as little as 27 days left...

What are your plans for producing the standalone versions? What framework are you going to use? How are you going to distribute them, and how wil

[2017-12-03 19:25] cTn-dev commented on #35
Oh, i got that notification (i meant that they didn't point out a specific date).
That's why i found the
"In the second half of 2017, the Chrome Web Store will no longer show Chrome apps on Windows, Mac, and Linux, but will continue to surface extensions and themes."
rather odd since we are near the end of 2017 and i still haven't received any more info and the apps are still visible on the store

[2017-12-03 19:44] mikeller commented on #35
@cTn-dev: Re more info, I am not sure that any will be forthcoming (or else they would surely have sent a 'impending sunset' notice by now. So instead of waiting until the Chrome Web Store is shut, I think we should rather try and get a version that enables a smooth transition to the standalone version out to users while the Chrome Web Store's auto-update still works.

We recently converted the Be

[2017-12-11 10:07] kh4 commented on #35
So @mikeller now has owner access, use it well.

[2017-12-11 10:21] mikeller commented on #35
Thanks @kh4. Just when I started to run out of things to do for Betaflight. ;-)
The plan is to do something similar to what we've done for Betaflight, and release a few release candidates, so kinks can be worked out, and the update notification system (pulling release info from GitHub) can be tested.

[2017-12-13 03:06] KnuckleUpFPV commented on #35
@mikeller let me know what I can do to help test. I was getting worried I would lose my chrome configurator soon. I fly daily with openlrs and would love to continue to do so. I have it on a fixed wing as well as a few miniquads.

[2017-12-13 05:48] mikeller commented on #35
Thanks for you offer, @KnuckleUpFPV. I'll be making some changes to allow downloading of firmware images from GitHub (instead of baking them into the configurator) soon, and getting some testing for this, and for the standalone configurator that is to follow will be helpful.

[2017-12-13 12:04] KnuckleUpFPV commented on #35
I have flytron, hawkeye, orangerx, wolfbox, and a few homemade modules I can test with on receiver side. On transmit side , i have orangerx, wolfbox,  and a homemade tx. Looking forward to this. With the long range craze going on, its likely tp bring more pilots to openlrs because its affordable and works

[2017-12-13 12:06] mikeller commented on #35
I think it's definitely worth keeping it alive, and with the multiprotocol support it gets a whole lot more user friendly as well.

[2017-12-13 12:55] KnuckleUpFPV commented on #35
I need to try it with the multi support. Do you have a link to the firmware I need? I can flash my modules with arduino. Thats how I was doing it before I learned about the configurator. I was actually so worried that I picked up a book on how to write code. Im pretty good with self teaching. Im still going to learn all that I can in hope that I may be of help someday.

[2017-12-13 13:06] mikeller commented on #35
You can use the binaries from here: https://github.com/openLRSng/openLRSng/releases/tag/3.9.0-rc1
You'll also need to download the latest configurator from GitHub, unzip it, and install it in Chrome locally.

[2017-12-13 13:13] KnuckleUpFPV commented on #35
Thank you. Ill see if I can get this worked out tonight when I get off.

[2017-12-14 00:08] KnuckleUpFPV commented on #35
I flashed the new firmware and installed the new configurator. No luck. I tried opentx 2.2 and 2.2.1. Neither will work on multi with the wolfbox. I set it to multi in configurator.

[2017-12-14 00:13] mikeller commented on #35
What firmware are you using on your transmitter (OpenTx / ersky9x / ...)? You'll have to select 'openLRSng' / 'olrs' as the protocol for it to work.

[2017-12-14 00:22] KnuckleUpFPV commented on #35
Tried opentx 2.2 and 2.2.1 and selected olrs. Its not communicating. Still works set as ppm though.

[2017-12-14 00:28] KnuckleUpFPV commented on #35
That I did not do. Was unaware of this modification. The wolfbox has an s port jumper on the back. In order to connect to receiver the jumper has to be on s port or it won't connect.

[2017-12-14 00:38] mikeller commented on #35
I suspect said jumper will only affect the telemetry side of things (module => TX). Looking at the bad quality images for the wolfbox that are available online, there are serial RX / TX pins available on the back of it (the same ones you are using for firmware updates). You should be able to use these and fashion a cable to connect them to the external serial pins of the tx (over cross that is).

[2017-12-14 00:42] KnuckleUpFPV commented on #35
Any way I can get some clean images to you? If the jumper isnt in place it will not communicate with the tx. I have an orangerx module I can try this with as well. I have the telemetry mod done on the orangerx. Hooks tx to rf pin. And a few other connections. I feel like this may get in the way of this mod.

[2017-12-14 00:47] mikeller commented on #35
The 'tx to rf pin' is half of what is needed, the part that I described as 'the telemetry in pin is connected to the serial TX of the module'.

For multiprotocol to work, you'll also have a connection from the TX serial out (which shares the pin with PPM out) to the modules serial in, since multiprotocol sends data through serial instead of PPM, and the module can only receive serial data fast eno

[2017-12-14 00:54] jimmycapizzi commented on #35
Ok, so I got the DTF 1w box transmitter. Does the tx signal have to be inverted for this to work? Is there gonna be some information on the multi protocol in the wiki? Would like to get this working with my taranis q x7

[2017-12-14 00:55] KnuckleUpFPV commented on #35
Ok i think im tracking. Ppm pin to rx pin on serial side and tx pin on serial side to rf pin.

[2017-12-14 01:15] jimmycapizzi commented on #35
Thanks alot, I'm subscribed!

[2017-12-14 01:31] mikeller commented on #35
@jimmycapizzi: The TX (telemetry) signal from the module does have to be inverted if you are using a FrSky / Taranis TX. Turnigy 9XR Pro has a switchable inverter on the telemetry pin. I will be adding information to the wiki at some point, but at the moment I am flat out to get the standalone configurator going before the deadline imposed by Google.

(Additionally, I don't have access to most of

[2017-12-14 01:54] KnuckleUpFPV commented on #35
@mikeller if you give me somewhere to send you pics I can email you high res photos. Or you can email me. snook2128@gmail.com. i will delete this after I hear from you. Unless you want to start an rcgroup post. Then we can share images there. The old openlrs thread is incredibly long. Im happy to help in any way possible. Am I correct on my wiring? Ppm to rx on serial and tx on serial to rf pin?

[2017-12-14 02:29] KnuckleUpFPV commented on #35
@jimmycapizzi the rx to ppm pin and tx to rf pin did not work. So I'm lost on where to go from here.

[2017-12-14 02:32] jimmycapizzi commented on #35
Thanks for the help guys, we will get it worked out.

[2017-12-14 03:12] mikeller commented on #35
@KnuckleUpFPV: My preference would be to use some sort of chat / forum to have these discussion. I am not a fan of the IRC (for it's lack of decent history / search / file integration or any other thing that was invented after 1980). How about slack? It seems to be working reasonably well for other projects I am involved in.

I have never actually tested with FrSky / Taranis hardware. But knowing

[2017-12-14 03:19] KnuckleUpFPV commented on #35
We can use slack if you like. I have a transistor mod in the orangerx to get the telemetry to wish i could post a photo here. I've removed the resistor at r2 to seperate the rf pin for the telemetry mod. I was thinking this is why it didn't work. So grabbed a second module and took rf to tx and rx to ppm. No luck. Added a 1k resistor to rx so configurator would still work. And still nothing. I hav

[2017-12-14 05:24] mikeller commented on #35
This is what _will_ work with 9XR Pro and _should_ work with Taranis (will try to confirm Taranis tomorrow):

![screenshot_20171209-045007](https://user-images.githubusercontent.com/4742747/33976715-c736d3fe-e0fb-11e7-9c2c-d94c5e685eb8.png)

Re slack, come find me in the Betaflight slack, registration is at http://www.betaflight.ch/ .

[2017-12-19 05:17] marcdornan commented on #35
Hi Mike. Saw on RCGroups that you are sprucing up openlrs ng. Great news. Do you think we should fire up a new thread on RCGroups so people know about this?

[2017-12-19 06:18] mikeller commented on #35
Hi @marcdornan. 'Sprucing up' is a big word (two actually). What I am trying to do right now is to keep openLRSng (or at least the configurator) from going under when Google pulls the plug on non-Chromebook web store apps.

Feel free to bring it up on RCGroups, I am not  really active there. I hope to be able to provide all of the information that is needed for users here on GitHub, but spreading

[2017-12-19 08:35] fiveangle commented on #35
I can try this too, but I’ve not done the hardware mod, and it definitely looks quite different on the Hawkeye/DTF 1 W Deluxe JR module:

![72b5ed48-a1ac-45d7-b514-2ffef6143fbb](https://user-images.githubusercontent.com/2219447/34147960-656596e0-e454-11e7-86c1-aa802ae15a48.jpeg)

-=dave

[2017-12-19 09:14] KnuckleUpFPV commented on #35
You can most likely set your module to serial with jumper and it should work. Wolfbox and orangerx needed the mod of single wire with 1k resistor from ppm pin to rx pin

[2017-12-19 09:18] mikeller commented on #35
@fiveangle:

As for MULTI alone: Yes. If using a taranis, `Invert TX` will also have to be set to `on` for telemetry to be possible.

[2017-12-19 10:03] KnuckleUpFPV commented on #35
What's the baud rate for frsky telemetry? Im still just getting normal receiver telemetry and nothing from the fc. I have inav lua script and its only picking up rssi. I haven't tried any baudrates yet because ive been in bed sick for 3 days. I dont care if I cant get the full telemetry but it would be nice to have for gps coordinates in case I lose video and sd card corrupts or fills up before so

[2017-12-19 10:08] mikeller commented on #35
Same as with other Multiprotocol modules, the baudrate for telemetry is the same as the baudrate of the TX -> module connection, 100000, 8e2, since it's designed to be using the same UART. The TX should adjust this automatically as soon as Multiprotocol is selected.

[2017-12-19 10:15] KnuckleUpFPV commented on #35
Im sorry i meant on the receiver side. The fc isnt sending telemetry back to the transmitter. Just the normal rssi and two analogs. I will try to reflash tx and rx with rc2 and see if any different baudrate will work on the fc. Regardless im extremely happy. No latency and the rssi is outstanding. I think once I'm feeling better I may try the experimental data speeds and see what the range is like

[2017-12-19 10:35] mikeller commented on #35
@KnuckleUpFPV: Same deal - since there's only one UART in the RX, the speeds have to be the same. If you're using Betaflight, this will be taken care of by the firmware, and your telemetry speed ignored.

[2017-12-28 00:34] raul-ortega commented on #35
I created a new pull request adding the package.js file to build the stand alone app with nw.js:

[https://github.com/openLRSng/openLRSng-configurator/pull/38](https://github.com/openLRSng/openLRSng-configurator/pull/38)

[2018-01-10 23:47] csurf commented on #17
@mikeller
stale issue, please close

[2018-01-10 23:48] csurf commented on #19
@mikeller
stale/resolved issue. please close

[2018-01-10 23:49] #17 closed

[2018-01-10 23:49] #19 closed

[2018-01-11 00:20] csurf commented on #20
By design, the GUI currently isn't really setup for something like this due to the following:

The way Configurator works is that it goes into 'bind mode' where the TX isn't transmitting; it's simply on standby, and, when in 'spectrum analyzer', it goes into 'receive' mode and samples RSSI on each frequency.

When you go into the RX configuration tab & connect to the RX, it establishes a 2-way con

[2018-01-11 00:28] mikeller commented on #20
@csurf: Doing this through the configurator sounds like a complicated way of doing this. RX RSSI can already be received on the TX through telemetry, and we could look into feeding back TX RSSI into the TX through multiprotocol telemetry as well, so that RSSI can be tested / monitored while in normal operation, instead of only when connected to the configurator.

[2018-01-11 00:31] csurf commented on #32
When connected to the TX, the spectrum analyzer comes from the TX (it goes into 'receiver mode' and just listens & samples RSSI across the selected frequency band).

If you want to run the spectrum analyzer from the RX, you have to put a jumper across a couple of the output pins on the RX (depends on the RX hardware), and connect from Configurator to the RX (over serial, using an FTDI adapter or s

[2018-01-11 00:38] csurf commented on #31
@jsystem @gweep
this will all be sorted out as this repo gets cleaned up & updated (people are actually working on it now)... Just check back in occasionally...

@mikeller, close...

[2018-01-11 00:41] csurf commented on #20
I agree, but I'm guessing @frog32 must not have telemetry setup, otherwise he'd have done it that way. @frog32, care to chime in?

I personally don't have a need for this feature (I do antenna testing by other means), so I'm indifferent, but I do have a pretty good of how it could be done in case other users really wanted a means of doing it via the GUI.

[2018-01-11 00:43] #31 closed

[2018-01-11 00:45] csurf commented on #26
@mikeller close

[2018-01-11 00:47] csurf commented on #27
@mikeller, does this sound reasonable? We'd have to package ALL of the firmwares for each type of module (433, 868, 915) and for each type of hardware, unless we change over to some kind of system like you guys do in betaflight where the FW is downloaded on demand... thoughts?

[2018-01-11 00:47] csurf commented on #34
this will be sorted out soon as the repo is updated & cleaned up.
check back soon...

@mikeller, close

[2018-01-11 00:50] mikeller commented on #27
@csurf: That is exactly the idea. There is already a change to configurator (#36) that uses the GitHub API to check for new configurator releases. We'll be leveraging the same API to check for the latest firmware release, and then download that from GitHub.

[2018-01-11 00:51] csurf commented on #33
@yu1s, open up the USB com port using a terminal emulator (putty, tera term, or 'serial monitor' in Arduino IDE). Post a video of what you see...

[2018-01-11 00:52] csurf commented on #33
@yu1s
also, power the module up with external power (battery or radio). Don't use the power supplied by the FTDI adapter. Try that...

[2018-01-11 00:54] csurf commented on #27
do you guys have a nice 'template' for the 'download & verify' routine that we can more/less 'plug&play' into Configurator

[2018-01-11 00:57] csurf commented on #23
@n8twj
what's the status on this issue? did you get it resolved? If so, please close this.

@mikeller, close if you feel this is probably a dead issue...

[2018-01-11 01:00] csurf commented on #22
@stormjohn if you're still having hardware issues, please post them over at RC groups OpenLRSng thread:
https://www.rcgroups.com/forums/showthread.php?1782034-OpenLRS-new-firmware-fork-openLRSng

@mikeller unrelated to configurator, close

[2018-01-11 01:03] csurf commented on #25
@doceave
We are looking at the possibility of merging the gitsly functionality into the main OpenLRSng code. If that succeeds, it'll be fully compatible with Configurator at that point. Up until then, gitsly remains a separate, custom development fork, so Configurator can't really be expected to support it.

However, if gitsly ends up having to exist as its own separate firmware, then perhaps we'l

[2018-01-11 10:58] #25 closed

[2018-01-11 11:22] mikeller commented on #32
@csurf: I can see where @gweep is coming from. But, as he says, the functionality is already there (by connecting through the TX), so this is just convenience. I'd leave this feature request around, if somebody wants to work on it, but I think there are things with higher priority to spend time on.

[2018-01-11 11:23] #34 closed

[2018-01-11 11:27] mikeller commented on #27
I plugged whatever was directly pluggable in #36. I want to do the selecting / downloading part different to how Betaflight does it, letting the user only select the version, then downloading all of the hex files, and caching them locally, so I'll have to rewrite most of that part.

[2018-01-11 11:28] #23 closed

[2018-01-11 11:33] #26 closed

[2018-01-11 11:33] #22 closed

[2018-01-11 23:43] mikeller opened #42 "'MULTI' setting in 'serial port speed' does not persist in backup"
When setting the serial port speed for the TX module and selecting 'MULTI' (for Multiprotocol), the setting persists normally to the module.
But when backing up the profile into a file, and then restoring from the file, the serial port speed is set to '115200'.

[2018-01-12 01:38] csurf commented on #42
@mikeller
...just an FYI, PR #43 which might be somewhat related

[2018-01-12 02:10] csurf commented on #42
@mikeller
ok, this looks like it's due to the tx_console_baud patch.
Are you testing off firmware master?

[2018-01-12 02:11] csurf commented on #42
if we upgrade the firmware to 4.0.0 and use the patched Configurator from #40, it *should* work

[2018-01-12 02:38] csurf commented on #42
ok, I tested against firmware master with version upgraded to '4.0.0' and with Configurator w/ #40, and was able to successfully backup & restore a profile.

FYI, it wasn't just the MULTI profile by this bug.
The entire TX config can't be saved due to being incompatible.

I need to set the TX config into 'read-only' mode for older config versions...

[2018-01-12 23:33] csurf commented on #32
@gweep
ok, I dug up my old code, and I'm working on a couple of patches for both the firmware & GUI to get this working.

Only problem so far is getting the frequency ranges for the 'beacon frequency' selection. The RFM frequency type is stored in the TX configuration. The RX code doesn't currently have a way of 'knowing' what frequency range it operates on (433, 868, or 915).

Configurator relies

[2018-01-14 10:38] csurf commented on #33
user responded via youtube saying the problem was the FTDI adapter. problem solved. closed

[2018-01-14 10:38] #33 closed

[2018-01-14 10:41] csurf commented on #20
After further review, not worth the effort. closed

[2018-01-14 10:41] #20 closed

[2018-01-22 22:59] csurf commented on #32
@gweep
this has been added in #45 and openLRSng/openLRSng#165.
testing required

[2018-01-23 06:33] #32 closed

[2018-01-23 06:36] csurf commented on #42
this should be resolved by #46, and latest 3.9 firmware from repo should work / be compatible with Configurator. closing. please reopen if the problem persists...

[2018-01-23 06:36] #42 closed

[2018-01-23 11:51] mikeller commented on #42
Confirmed working, thanks @csurf.

[2018-01-23 11:54] mikeller opened #47 "Missing config file extension / file extension selection for backup / restore"
When backing up the TX / RX configuration, the suggested file does not have an extension. This should be changed to `.json`, to match the contents of the file.

Also, when backing up / restoring the configuration, the 'choose file' dialog does not have the file extension set to whatever the file extension of the name suggestion is, forcing the user to manually select 'All Files' to get a list of t

[2018-01-25 10:41] #47 closed

[2018-01-28 21:50] csurf opened #50 "RX Failsafe settings aren't backed up to file"
Currently, only the main settings are saved, while the failsafe settings are ignored when using the 'Backup this Configuration' button within the RX tab.

@mikeller
what's your opinion on this?
Should the failsafe settings be backed up to file along with the rest of the RX configuration?

[2018-01-28 22:03] mikeller commented on #50
@csurf: I think that is what the user expects to happen. (i.e. a backup is a full backup), so yes, it should be done.

[2018-02-03 22:18] linuxslate opened #53 "Can't connect to transmitter --"
Using the Configurator from the Chrome Web Store, I can connect to my transmitter fine:

[code]

TX Tab is enabled -- works fine.

-------------
Using Configurator: 1.0.0-rc1, I cannot connect

[code]

At this point, the TX seems to be in bind (flashing green light), and it will bind with the RX, but  it has still timed out, so there is nothing I can do.

Also note that Configurator: 0.57 won't wo

[2018-02-05 10:58] csurf commented on #53
@linuxslate
it's a timing issue.
I can provide a patch for you to test, or you can try hacking into the javascript code if you feel comfortable.

[2018-02-06 03:01] csurf commented on #53
fixed by #54

[2018-02-06 03:01] #53 closed

[2018-02-11 14:27] NopeDK opened #55 "Unable to access tabs using Master:ae933b1 and 3.9.0-rc2"
15:21:11 -- Running - OS: Linux, Chrome: 64.0.3282.140, Configurator: 1.0.0-rc1
15:21:13 -- Serial port successfully opened with ID: 1
15:21:13 -- Using cached release information for configurator releases.
15:21:14 -- Module - OpenLRSng TX starting
15:21:14 -- Requesting to enter bind mode
15:21:14 -- Transmitter Firmware version - 3.9.0
15:21:23 -- You can't view this tab at the moment. You need

[2018-02-11 23:44] csurf commented on #55
@NopeDK
Try waiting until it enters bind mode before clicking on the tabs.
It will time out if it can't enter bind mode, and then you can try reconnecting again.
Sometimes you might need to try a couple-few times to get it to work.

If it consistently times out, then it's a timing issue.
I had already fixed it, but the port timing can vary on different computers & with different TX modules.

Try t

[2018-02-12 12:15] NopeDK commented on #55
@csurf
Retrying now, currently at 30 minutes without any change.
Seems to be stuck on "Transmitter Firmware version".
If I disconnect and try again I get the exact same thing.

[2018-02-12 12:47] NopeDK commented on #55
Increased timeout on line 327 from 250 to 2500, no change in output.

[2018-02-12 12:53] NopeDK commented on #55
Increased timeouts on line 325-329. Now the error has changed to "Communication through Phoenix Serial Protocol was never established, connecting failed" followed by immediate serial port closure.

[2018-02-12 18:10] csurf commented on #55
what type of transmitter hardware are you using?

[2018-02-12 18:15] NopeDK commented on #55
OrangeRX 9ch RX for both TX and RX.

[2018-02-12 18:21] csurf commented on #55
ok, I've partially identified the issue (firmware compatibility problem) and I'm working on it.

Would you be able to build the firmware with Arduino IDE? firmware master should work.

[2018-02-12 18:47] NopeDK commented on #55
I am setting the environment up now.

[2018-02-12 18:58] NopeDK commented on #55
Downloaded Master:948fc57 of the firmware and flashed to both TX and RX. It now works with the titled version of the configurator.

[2018-02-12 19:01] csurf commented on #55
ok, good. pls let me know if you continue to have connection problems.

I'll leave this issue open because Configurator still needs to be fixed.

[2018-02-15 09:30] csurf opened #57 "not possible to save bind data for RX"
Apparently, there's currently no way to save the current `BIND_DATA` structure to the RX when connecting remotely from a TX to an RX. So, an RX isn't automatically bound to the current TX when connecting remotely from TX->RX and clicking the "save to EEPROM" button.

IOW, just because you connect remotely from a TX to an RX module, it doesn't mean that they're consequently bound to each other. I t

[2018-02-15 11:28] mikeller commented on #57
I think having a 'bind' button in the configurator is a good idea. Another one would be to allow the RX to dump / restore the current bind information, so that for example an RX with a hardware problem can be replaced and config **and** bind information restored in one go, without having to bind the new RX again.

I don't think that automatically binding the RX to a TX when it is used to configure

[2018-02-17 22:47] #57 closed

[2018-02-19 03:14] #50 closed

[2018-02-19 12:20] mikeller commented on #55
@csurf: Why was this closed?

[2018-05-12 17:36] JamesCordell opened #60 "master version settings cannot be saved "compatibility mode""
Hi

The Configurator produces the message

"Configurator is running in compatibility mode, you will have to update your firmware to the latest version before trying to save any of of the settings"

And does not permit settings to be saved for the TX. This appears to be a versioning issues. I see the firmware is compiled into the configurator, so i'm not sure where the issues is.

This is not an is

[2018-05-13 05:47] mikeller commented on #60
This is to be expected. In previous versions of the firmware and configurator, the firmware was distributed with the configurator. We'll have to change this, and change how the versions are matched.

For now, use the version of the configurator from the repository when using the firmware from the repository.

[2018-06-27 23:34] neovin87 opened #61 "Transmission CRC check for command: 3 failed, re-connecting is advised"
please help

[2018-06-28 12:25] mikeller commented on #61
See openLRSng/openLRSng#220.

Please don't post empty messages across multiple repositories. This is rude, and will not increase the likelihood of anybody wanting to help you.

[2018-06-28 12:25] #61 closed, assigned to nobody

[2018-08-30 09:05] Daniel-1276 commented on #55
Hi, it seems current FW release "openLRSng 3.9.0-rc2" still has this issue. @NopeDK could you may share a flashable binary for TX type 2 and RX type 3 please ? No idea how to setup Arduino build environment to do it myself.

[2018-08-30 17:18] Daniel-1276 commented on #55
Managed to compile by myself from the current master repository ... Issue solved :) Heading to multi-protocol feature now :)

[2018-09-01 01:10] mikeller commented on #55
@Daniel-1276: You got a point there - no reason to withhold the improvements from users due to lack of time to write nice release notes, I did a quick-fire release from latest in master: https://github.com/openLRSng/openLRSng/releases/tag/3.9.0-rc3

[2021-10-19 09:38] antaljani commented on #60
Is there any solution for this topic? I run the same problem. Configurator is a newer version than the firmware. How you can update the firmware then??? This is not so logical...

[2022-07-31 20:43] snookerdoodle92117 commented on #19
I had something to add to the above thread.  I had the same problem - not being able to connect with the configurator.  What worked for me was initiating a connection with the configurator and power cycling the Tx while it was trying to connect. Everything came up and I was able to setup my receiver also. BTW: I am using OrangeRx OpenLRS 433 w/Bluetooth and the PPM output only receiver.  I pulled